<tr>
  <td align="left" style="font-size: 14px; line-height: 25px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #647083;">
    <p><% t('org_mailer.invite.hello') %></p>
    <p><% t('org_mailer.invite.join') %><%= @invitation.organization.name %><% t('org_mailer.invite.org') %><a href="<%= @invitation_signup_link %>" target="_blank" style="color: #1785FB"><% t('org_mailer.invite.create') %></a>.</p>
    <p><% t('org_mailer.invite.carto') %></p>
    <p><% t('org_mailer.invite.resources') %></p>
    <ul>
      <li><a href="https://carto.com/developers/"><% t('org_mailer.invite.devcenter') %></a><% t('org_mailer.invite.guides') %></li>
      <li><a href="https://carto.com/resources/"><% t('org_mailer.invite.rescenter') %></a><% t('org_mailer.invite.case') %></li>
      <li><% t('org_mailer.invite.videos') %><a href="https://vimeo.com/173657117/340039d93f">UI</a>, <a href="https://vimeo.com/173657596/572660d9d2">Styling</a>, <a href="https://vimeo.com/173657654/970529bced"><% t('org_mailer.invite.analysis') %></a>, <a href="https://vimeo.com/173658241/dd37f7ea8c"><% t('org_mailer.invite.widgets') %></a>, <a href="https://vimeo.com/173658333/21259b1d37"><% t('org_mailer.invite.publishing') %></a></li>
    </ul>

    <p><% t('org_mailer.invite.message') %></p>
  </td>
</tr>

<tr>
  <td align="left" style="font-size: 14px; line-height: 25px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #647083;">
    <p><i><%= simple_format(@invitation.welcome_text) %></i></p>
  </td>
</tr>

<tr>
  <td align="left" style="font-size: 14px; line-height: 25px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #647083;">
    <p>Happy mapping!</p>
  </td>
</tr>
