<% content_for :title do %><%= @user ? @user.username : t('sessions.account_error.user') t('sessions.account_error.auth_error') end %>

<div class="CDB-Text <%= @organization.present? ? 'Sessions' : 'Sessions-navy' %>" style="<%= @organization.present? ? background : '' %>">
  <div class="Sessions-content">
    <div class="Sessions-inner">
      <div class="u-inner">
        <div class="Sessions-center Sessions--centered">
          <div class="Sessions-logoContainer">
            <picture class="Navbar-brand">
              <% if @organization.present? && @organization.avatar_url.present? %>
                <img src="<%= @organization.avatar_url %>" alt="<%= @organization.name %> organization">
              <% else %>
                <% if @organization.present? %>
                  <%= image_tag("layout/carto-logo-darkblue.svg", :alt => "CARTO") %>
                <% else %>
                  <%= image_tag("layout/carto-logo.svg", :alt => "CARTO") %>
                <% end %>
              <% end %>
            </picture>
          </div>

          <div class="js-info">
            <h1 class="Sessions-title u-tspace-m"><% t('sessions.account_error.validate_account') %></h1>
              <p class="Sessions-description"><% t('sessions.account_error.check_email') %></p>

            <% if @user %>
              <p class="Sessions-description"><% t('sessions.account_error.resent_valid_part1') %>"<%= CartoDB.url(self, 'resend_validation_mail', :user_id => @user.id) %>"<% t('sessions.account_error.resent_valid_part2') %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
