<% if @organization %>
  <% content_for :title do %><%= @organization.name %><% end %>
<% end %>

<% content_for :js do %>
  <%= javascript_include_tag 'common', 'common_vendor', 'sessions' %>
<% end %>

<div class="CDB-Text <%= @organization.present? ? 'Sessions' : 'Sessions-navy' %>" style="<%= @organization.present? ? background : '' %>">
  <div class="Sessions-content">
    <div class="Sessions-inner">
      <div class="Sessions-notloggedin is-active">
        <div class="u-inner">
          <div class="Sessions-left">
            <div class="Sessions-logoContainer">
              <picture class="Navbar-brand">
                <% if @organization.present? && @organization.avatar_url.present? %>
                  <img src="<%= @organization.avatar_url %>" alt="<%= @organization.name %> organization">
                <% else %>
                  <% if @organization.present? %>
                    <%= image_tag("http://www.cataviz.altervista.org/cataviz.png", :alt => "CARTONICO") %>
                  <% else %>
                    <%= image_tag("http://www.cataviz.altervista.org/cataviz.png", :alt => "CARTONICO") %>
                  <% end %>
                <% end %>
              </picture>
            </div>

            <div class="Sessions-form">
              <%= form_tag CartoDB.path(self, 'create_session'), class: "js-Loading-form" do %>

                <% if @organization.nil? || @organization.auth_username_password_enabled %>
                  <% if @flash_login_error %>
                    <p class="CDB-Text CDB-Size-huge u-altTextColor u-tSpace--m u-justifyCenter Sessions-description" style="background: #f24440; border-radius: 4px; padding: 5px; color: #fff;">
                      <%= raw @flash_login_error %>
                    </p>
                  <% end %>

                  <div class="Sessions-field">
                    <%= text_field_tag :email, CartoDB.extract_subdomain(request), :title => "Email or username", placeholder: "email or username", class: "CDB-Size-medium #{@organization.present? ? 'Sessions-input' : 'Sessions-navy-input'} topBorderRadius" %>

                    <% if @login_error %>
                      <div class="Sessions-fieldError js-Sessions-fieldError" data-content="<%= @login_error %>">!</div>
                    <% end %>
                  </div>

                  <div class="Sessions-field">
                    <%= password_field_tag :password, "", placeholder: "password", class: "CDB-Size-medium #{@organization.present? ? 'Sessions-input' : 'Sessions-navy-input'} bottomBorderRadius" %>

                    <% if @login_error %>
                      <div class="Sessions-fieldError js-Sessions-fieldError" data-content="<%= @login_error %>">!</div>
                    <% end %>

                    <% unless Cartodb.config[:cartodb_com_hosted] %>
                      <div class="Sessions-inputLinkAside">
                        <%= link_to 'Pass dimenticata?', forget_password_url %>
                      </div>
                    <% end %>
                  </div>

                  <div class="Sessions-field">
                    <p>
                      <button type="submit" class="Sessions-submitButton js-Sessions-button js-Loading">
                        <span class="js-Loading-text">Entra</span>
                        <span class="js-Loading-anim" style="display: none;">
                          <span class="Loading-item">
                            <span class="Loading-itemInner Loading-itemInner--01"></span>
                          </span>

                          <span class="Loading-item">
                            <span class="Loading-itemInner Loading-itemInner--02"></span>
                          </span>

                          <span class="Loading-item">
                            <span class="Loading-itemInner Loading-itemInner--03"></span>
                          </span>
                        </span>
                      </button>
                    </p>
                  </div>

                <% end %>
              <% end %>
              <% if @oauth_configs.any? %>
                <div class="Sessions-field Sessions-oauthHeader">
                  <p>OR LOG IN WITH:</p>
                </div>
                <div class="Sessions-field Sessions-oauthContainer">
                  <% @oauth_configs.each do |config| %>
                    <%= render partial: config.button_template, locals: { config: config } %>
                  <% end %>
                </div>
              <% end %>

              <% if @user_login_url %>
                <p class="CDB-Text CDB-Size-medium u-altTextColor u-tSpace--m u-justifyCenter Sessions-description">
                  Not a member of the <%= @organization.name %> organization? Try the <a href="<%= @user_login_url %>"> general login</a> instead.
                </p>
              <% elsif @organization.try(:auth_username_password_enabled) %>
                <p class="CDB-Text CDB-Size-medium u-altTextColor u-tSpace--m u-justifyCenter Sessions-description">
                  Please, remember to use an email address belonging to this organization to login to your account.
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="Sessions-loggedin">
        <div class="Spinner"></div>
      </div>
    </div>
  </div>

   <% if organization_signup_url.present? && !cartodb_com_hosted? %>
    <footer class="Sessions-footer">
      <div class="u-inner">
        <div class="Sessions-notloggedin is-active">
          <p class="Sessions-text Sessions-text--footer u-txt-center u-altTextColor">Non hai ancora un account? <%= link_to 'Abbonati', signup_url %></p>
        </div>
      </div>
    </footer>
  <% end %>
</div>
