<%= content_for(:title) do %><% t('datalib.index.datalib') %><% end %>

<%= content_for(:description) do %><% t('datalib.index.incorporate') %><% end %>

<%= content_for(:keywords) do %><% t('datalib.index.keywords') %><% end %>

<div class="CDB-Text DataLibrary">
  <div class="DataLibrary-inner js-data_library">
    <div class="Filters"></div>
    <div class="NoDatasets"></div>
    <div class="DataLibrary-cards">
      <div class="DataLibrary-content js-DataLibrary-content"></div>
    </div>
  </div>

  <div class="u-inner DataLibrary-footer u-txt-center">
    <div class="Grid">
      <ul class="Grid-inner Grid-inner--hcenter">
        <li class="Grid-cell Grid-cell--col10 Grid-cell--col12--mobile">
          <h2 class="Title Title--m u-vspace-m">The power of open data</h2>

          <p class="DataLibrary-text"><% t('datalib.index.information') %></p>
        </li>
      </ul>
    </div>

    <div class="DataLibrary-columns Grid">
      <ul class="Grid-inner">
        <li class="Grid-cell Grid-cell--col4 Grid-cell--col12--mobile u-tspace-xl">
          <div class="Icon Icon--round Icon--blue u-valign u-vspace-m">
            <i class="CDB-IconFont CDB-IconFont-explore IconFont--size24 IconFont--center u-iblock u-malign"></i>
          </div>

          <h3 class="PublicTitle PublicTitle--feature u-vspace--12">Explore</h3>
          <p class="Feature-text"><% t('datalib.index.disparate') %></p>
        </li>

        <li class="Grid-cell Grid-cell--col4 Grid-cell--col12--mobile u-tspace-xl">
          <div class="Icon Icon--round Icon--blue u-valign u-vspace-m">
            <i class="CDB-IconFont CDB-IconFont-lightbulb IconFont--size24 IconFont--center u-iblock u-malign"></i>
          </div>

          <h3 class="PublicTitle PublicTitle--feature u-vspace--12">Discover</h3>
          <p class="Feature-text"><% t('datalib.index.aggregated') %></p>
        </li>

        <li class="Grid-cell Grid-cell--col4 Grid-cell--col12--mobile u-tspace-xl">
          <div class="Icon Icon--round Icon--blue u-valign u-vspace-m">
            <i class="CDB-IconFont CDB-IconFont-mapsearch IconFont--size24 IconFont--center u-iblock u-malign"></i>
          </div>

          <h3 class="PublicTitle PublicTitle--feature u-vspace--12">Use and Enjoy</h3>
          <p class="Feature-text"><% t('datalib.index.seamless') %></p>
        </li>
      </ul>
    </div>
  </div>
</div>
