<%- message = "<p><% t('geocoder.finished.msg1') %><strong>#{@geocoded_rows}</strong><% t('geocoder.finished.msg2') %><strong>#{@processable_rows}</strong><% t('geocoder.finished.msg3') %><strong>#{@table_name}</strong>.</p>" %>

<% if @geocoding_failed || !@all_rows_geocoded %>
  <%= render partial: 'mailer_modules/warning_message', locals: { message: message } %>
<% else %>
  <%= render partial: 'mailer_modules/positive_message', locals: { message: message } %>
<% end %>

<% if @geocoding_failed || !@all_rows_geocoded %>
  <tr>
    <td align="left" style="font-size: 14px; line-height: 25px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #647083;">
      <p><% t('geocoder.finished.errors') %><% t('geocoder.finished.try_again') %></p>
    </td>
  </tr>
<% end %>

<%= render partial: 'mailer_modules/link_to_action', locals: { link: @link, link_text: 'View your dataset' } %>
