
<%= form_for @user, url: (@user.new? ? CartoDB.url(self, 'create_organization_user', {}, current_user) : CartoDB.url(self, 'update_organization_user', {id: @user.username}, current_user)), :html => {:class => 'Form js-organizationUserForm CDB-Text'} do |f| %>

  <%= f.hidden_field :private_tables_enabled %>
  <%= hidden_field_tag :show_account_settings_flash, true %>
  <%= csrf_meta_tags %>

  <span class="FormAccount-separator"></span>

  <div class="FormAccount-row">
    <div class="FormAccount-rowLabel">
      <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">Username</label>
    </div>
    <div class="FormAccount-rowData">
      <%= f.text_field :username, :class => "CDB-InputText CDB-Text FormAccount-input FormAccount-input--med #{ 'is-disabled' if !@user.new? } #{ 'has-error' if @user.errors[:username].present? }", :readonly => !@user.new? %>
      <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
        <% if (@user.errors[:username].present?) %>
          <p class="FormAccount-rowInfoText FormAccount-rowInfoText--error u-tSpace">Username not valid</p>
        <% elsif @user.new? %>
          <p class="CDB-Text CDB-Size-small u-altTextColor"><% t('admin.org_users.form.user_once') %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="FormAccount-row">
    <div class="FormAccount-rowLabel">
      <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">Email</label>
    </div>
    <div class="FormAccount-rowData">
      <%= f.text_field :email, :class => "CDB-InputText CDB-Text FormAccount-input FormAccount-input--med #{ 'is-disabled' if !@user.can_change_email? } #{ 'has-error' if @user.errors[:email].present? }", readonly: !@user.can_change_email? %>
      <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
        <% if (@user.errors[:email].present?) %>
          <p class="CDB-Text CDB-Size-small u-altTextColor FormAccount-rowInfoText--error"><% t('admin.org_users.form.invalid_eml') %></p>
        <% elsif @user.new? %>
          <p class="CDB-Text CDB-Size-small u-altTextColor"><% t('admin.org_users.form.choose_eml') %></p>
        <% end %>
      </div>
    </div>
  </div>

  <% if @organization.auth_username_password_enabled %>

    <div class="VerticalAligned--FormRow">
      <div class="FormAccount-row">
        <div class="FormAccount-rowLabel">
          <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor"><% t('admin.org_users.form.new_pwd') %></label>
        </div>
        <div class="FormAccount-rowData">
          <%= password_field_tag 'user[password]', nil, :placeholder => "New password", :class => "CDB-InputText CDB-Text FormAccount-input FormAccount-input--med #{ 'is-disabled' if !@user.can_change_password? } #{ 'has-error' if @user.errors[:password].present? }", readonly: !@user.can_change_password? %>
        </div>
        <div class="FormAccount-rowInfo">
          <% if (@user.errors[:password].present?) %>
            <p class="FormAccount-rowInfoText FormAccount-rowInfoText--error u-tSpace"><%= @user.errors[:password].first%></p>
          <% end %>
        </div>
      </div>

      <div class="FormAccount-row">
        <div class="FormAccount-rowLabel">
          <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor"><% t('admin.org_users.form.pwd_conf') %></label>
        </div>
        <div class="FormAccount-rowData">
          <%= password_field_tag 'user[password_confirmation]', nil, :placeholder => "Confirm new password", :class => "CDB-InputText CDB-Text FormAccount-input FormAccount-input--med #{ 'is-disabled' if !@user.can_change_password? } #{ 'has-error' if @user.errors[:password].present?}", readonly: !@user.can_change_password? %>
        </div>
      </div>
    </div>

  <% end %>

  <div class="FormAccount-row">
    <div class="FormAccount-rowLabel">
      <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor"><% t('admin.org_users.form.user_type') %></label>
    </div>

    <div class="FormAccount-rowData">
      <div class="CDB-Text CDB-Size-medium u-rSpace--xl">
        <input class="CDB-Radio js-userViewerOption" type="radio" name="user[viewer]" value="false" <%= @user.builder? ? 'checked' : '' %> <%= @organization.remaining_seats > 0 || @user.builder? ? '' : 'disabled' %> required>
        <span class="u-iBlock CDB-Radio-face"></span>
        <label class="u-iBlock u-lSpace CDB-Text CDB-Size-medium u-secondaryTextColor is-semibold"><% t('admin.org_users.form.builder') %>(<%= @organization.assigned_seats %>/<%= @organization.seats %>)</label>
      </div>
    </div>
    <div class="FormAccount-rowInfo u-lspace-23 u-bSpace--xl">
      <p class="FormAccount-rowInfoText"><% t('admin.org_users.form.build') %></p>
    </div>

    <% admin_editing_admin = @user.organization_admin? && !current_user.organization_owner? %>
    <div class="FormAccount-rowData">
      <div class="CDB-Text CDB-Size-medium u-rSpace--xl">
        <input class="CDB-Radio js-userViewerOption" type="radio" name="user[viewer]" value="true" <%= @user.viewer? ? 'checked' : '' %> <%= (@organization.remaining_viewer_seats == 0 && !@user.viewer?) || @user.organization_owner? || admin_editing_admin ? 'disabled' : '' %> required>
        <span class="u-iBlock CDB-Radio-face"></span>
        <label class="u-iBlock u-lSpace CDB-Text CDB-Size-medium u-secondaryTextColor is-semibold"><% t('admin.org_users.form.viewer') %>(<%= @organization.assigned_viewer_seats %>/<%= @organization.viewer_seats %>)</label>
      </div>
    </div>
    <div class="FormAccount-rowInfo u-lspace-23">
      <p class="FormAccount-rowInfoText">
        <% if @user.organization_owner? %>
          <% t('admin.org_users.form.org_owner_const') %>
        <% elsif admin_editing_admin %>
          <% t('admin.org_users.form.org_admin_const') %>
        <% elsif @organization.viewer_seats == 0 %>
          <% t('admin.org_users.form.no_viewers') %><% t('admin.org_users.form.contact_support') %>
        <% else %>
          <% t('admin.org_users.form.only_read') %>
        <% end %>
      </p>
    </div>
  </div>

  <% if !@user.organization_owner? %>
    <div class="FormAccount-row js-org-admin-row" <%= @user.builder? ? 'style="display: none;"' : '' %>>
      <div class="FormAccount-rowLabel">
        <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">Administrator</label>
      </div>
      <div class="FormAccount-rowData">
        <div class="Toggler">
          <%= f.check_box :org_admin, id: "org_admin", disabled: !current_user.organization_owner? %>
          <%= label_tag(:org_admin, '') %>
        </div>
        <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
          <p class="CDB-Text CDB-Size-small u-altTextColor">
            <% if current_user.organization_owner? %>
              <% t('admin.org_users.form.can_manage_usrs') %>
            <% else %>
              <% t('admin.org_users.form.assign_admin') %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>

  <div class="user-quotas" style="display: none">
    <div class="FormAccount-title">
      <p class="FormAccount-titleText">User quotas</p>
    </div>

    <span class="FormAccount-separator"></span>

    <div class="FormAccount-row">
      <div class="OrganizationUser-quota js-userQuota">
        <div class="FormAccount-rowData FormAccount-rowData--med OrganizationUser-quotaProgress js-userQuotaSlider">
          <div class="UISlider UserQuotaDropdown-slider js-slider progress-bar overflow-visible">
          <% available_quota_for_user = @organization.unassigned_quota + @user.quota_in_bytes %>
            <% assignedPer = ((@user.quota_in_bytes.to_f * 100) / available_quota_for_user) %>
            <% if !@user.new? %>
              <% usedPer = ((@user.db_size_in_bytes.to_f * 100) / available_quota_for_user) %>
              <span class="js-usedUserQuota bar-3" style="width:<%= usedPer %>%"></span>
            <% end %>
          </div>
          <ul class="OrganizationUser-quotaLegend">
            <% if !@user.new? %>
              <li class="OrganizationUser-quotaLegendItem CDB-Size-small">
                <i class="OrganizationUser-quotaLegendIcon OrganizationUser-quotaLegendIcon--used"></i>
                <% t('admin.org_users.form.used') %>
              </li>
            <% end %>
            <li class="OrganizationUser-quotaLegendItem CDB-Size-small">
              <i class="OrganizationUser-quotaLegendIcon OrganizationUser-quotaLegendIcon--assigned"></i>
              <% t('admin.org_users.form.assigned') %>
            </li>
            <li class="OrganizationUser-quotaLegendItem CDB-Size-small">
              <i class="OrganizationUser-quotaLegendIcon"></i>
              <% t('admin.org_users.form.total') %>
            </li>
          </ul>
        </div>
        <div class="FormAccount-rowInfo u-lSpace--xl OrganizationUser-quotaInfo js-userQuotaSliderInput CDB-Text CDB-Size-medium u-altTextColor">
          <span><%= text_field_tag nil, nil, :class => "CDB-InputText CDB-Text FormAccount-input OrganizationUser-quotaInfoInput js-assignedSize" %> MB<% unless cartodb_com_hosted? %>, <a href="<%= current_user.upgrade_url(request.protocol) %>"><% t('admin.org_users.form.upgrade') %><% end %></span>
        </div>
        <%= f.hidden_field :quota_in_bytes, :id => "user_quota" %>
      </div>
    </div>

    <div class="FormAccount-row">
      <div class="FormAccount-rowLabel">
        <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">Extra geocoding</label>
      </div>
      <div class="FormAccount-rowData">
        <div class="Toggler">
          <%= f.check_box :soft_geocoding_limit, id: "soft_geocoding_limit", disabled: !@organization.soft_geocoding_limit? %>
          <%= label_tag(:soft_geocoding_limit, '') %>
        </div>
        <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
          <% if @organization.soft_geocoding_limit? %>
            <p class="CDB-Text CDB-Size-small u-altTextColor"><% t('admin.org_users.form.ex_geocoding') %></p>
          <% else %>
            <p class="CDB-Text CDB-Size-small u-altTextColor"><% t('admin.org_users.form.no_extra_quota') %></p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="FormAccount-row">
      <div class="FormAccount-rowLabel">
        <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">Extra Here Isolines</label>
      </div>
      <div class="FormAccount-rowData">
        <div class="Toggler">
          <%= f.check_box :soft_here_isolines_limit, id: "soft_here_isolines_limit", disabled: !@organization.soft_here_isolines_limit? %>
          <%= label_tag(:soft_here_isolines_limit, '') %>
        </div>
        <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
          <% if @organization.soft_here_isolines_limit? %>
            <p class="CDB-Text CDB-Size-small u-altTextColor"><% t('admin.org_users.form.ex_isolines') %></p>
          <% else %>
            <p class="CDB-Text CDB-Size-small u-altTextColor"><% t('admin.org_users.form.no_extra_quota') %></p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="FormAccount-row">
      <div class="FormAccount-rowLabel">
        <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">Extra Routing API calls</label>
      </div>
      <div class="FormAccount-rowData">
        <div class="Toggler">
          <%= f.check_box :soft_mapzen_routing_limit, id: "soft_mapzen_routing_limit", disabled: !@organization.soft_mapzen_routing_limit? %>
          <%= label_tag(:soft_mapzen_routing_limit, '') %>
        </div>
        <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
          <% if @organization.soft_mapzen_routing_limit? %>
            <p class="CDB-Text CDB-Size-small u-altTextColor"><% t('admin.org_users.form.ex_routing') %></p>
          <% else %>
            <p class="CDB-Text CDB-Size-small u-altTextColor"><% t('admin.org_users.form.no_extra_quota') %></p>
          <% end %>
        </div>
      </div>
    </div>

    <% if @organization.twitter_datasource_enabled %>
      <div class="FormAccount-row">
        <div class="FormAccount-rowLabel">
          <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">Extra tweets</label>
        </div>
        <div class="FormAccount-rowData">
          <div class="Toggler">
            <%= f.check_box :soft_twitter_datasource_limit, id: "soft_twitter_datasource_limit", disabled: !@organization.soft_twitter_datasource_limit? %>
            <%= label_tag(:soft_twitter_datasource_limit, '') %>
          </div>
          <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
            <% if @organization.soft_twitter_datasource_limit? %>
              <p class="CDB-Text CDB-Size-small u-altTextColor"><% t('admin.org_users.form.ex_twitter') %></p>
            <% else %>
              <p class="CDB-Text CDB-Size-small u-altTextColor"><% t('admin.org_users.form.no_extra_quota') %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% if !@user.new? && current_user.organization_owner? && @user.engine_enabled? -%>
    <div class="FormAccount-row">
      <div class="FormAccount-rowLabel">
        <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor"><% t('admin.org_users.form.master_key') %></label>
      </div>
      <div class="FormAccount-rowData">
        <%= f.text_field :api_key, :class => "CDB-InputText CDB-Text FormAccount-input FormAccount-input--med is-disabled", :readonly => true %>
        <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
          <button class="CDB-Text CDB-Size-medium Button--link js-regenerateOrgUserApiKey" data-username="<%= @user.username %>" data-current_username="<%= current_user.username %>" type="button"><% t('admin.org_users.form.regen_keys') %></button>
        </div>
      </div>
    </div>
  <% end %>

  <% if @user.new? -%>
    <% if @organization.remaining_seats > 0 || @organization.remaining_viewer_seats > 0 %>
      <div class="FormAccount-footer u-justifyEnd">
        <button type="submit" class="CDB-Button CDB-Button--primary js-save">
          <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase">Create user</span>
        </button>
      </div>
    <% else %>
      <div class="FormAccount-footer">
        <p class="FormAccount-rowInfoText FormAccount-rowInfoText--maxWidth"><% t('admin.org_users.form.no_seats') %><% t('admin.org_users.form.contact_support') %></p>
        <button type="submit" class="CDB-Button CDB-Button--primary is-disabled js-save">
          <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase">Create user</span>
        </button>
      </div>
    <% end %>
  <% elsif @user.editable_by?(current_user) %>
    <% if @user != current_user %>
      <div class="FormAccount-footer">
        <button href="<%= CartoDB.url(self, 'delete_organization_user', {id: @user.username}, current_user) %>" type="button" class="CDB-Button CDB-Button--error js-deleteAccount">
          <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase"><% t('admin.org_users.form.del_usr') %></span>
        </button>

        <button type="submit" class="CDB-Button CDB-Button--primary js-save">
          <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase"><% t('admin.org_users.form.save') %></span>
        </button>
      </div>
    <% else %>
      <div class="FormAccount-footer u-justifyEnd">
        <button class="CDB-Button CDB-Button--primary js-save">
          <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase"><% t('admin.org_users.form.save') %></span>
        </button>
      </div>
    <% end %>
  <% end %>

<% end %>

<script type="text/javascript">
  <% if !@user.new? %>
    var organization_user_data = <%= safe_js_object @user.data.to_json %>;
  <% else %>
    <% @user.values[:db_size_in_bytes] = 0 %>
    <% @user.values[:organization] = current_user.data[:organization] %>
    <% @user.values[:quota_available_for_user] = current_user.data[:organization][:unassigned_quota] + @user.values[:quota_in_bytes] %>

    var organization_user_data = <%= safe_js_object @user.values.to_json %>;
  <% end %>
</script>
