<%- message = "<p style='margin: 0;'><img alt='Trophy' src='http://carto-email-assets.s3.amazonaws.com/trophy.png' width='15' height='15' style='display: inline-block; margin: 0 auto; vertical-align: middle;' border='0'> #{@greetings.sample.capitalize}!t('user.trending.your')<strong>#{@map_name}</strong>t('user.trending.received')<strong>#{number_to_human(@mapviews).downcase}t('user.trending.map')</strong>!</p>" %>

<%= render partial: 'mailer_modules/neutral_message', locals: { message: message } %>

<%= render partial: 'mailer_modules/visualization_preview_image', locals: { preview_image: @preview_image } %>

<%= render partial: 'mailer_modules/link_to_action', locals: { link: @link, link_text: t('user.trending.view') } %>
