<%- message = "<p style='margin-bottom: 0;'>t('user.uvisual.colleague')#{@visualization_owner_name}t('user.uvisual.stopped')<strong>#{@visualization_name}</strong>t('user.uvisual.with')" %>

<%= render partial: 'mailer_modules/warning_message', locals: { message: message } %>
