<div class='inner'>
  <h1><a href='https://carto.com' class='logo' id='the_logo'>CARTONICO</a></h1>
  <ul class='options'>
    <% if (!username && !isMobileDevice) { %>
      <li><a href='https://dbpiante.altervista.org/manuale.html' class='guides'>Manuale</a></li>
    <% } %>

    <% if (!username) { %>
      <% if ( !isCartoDBHosted ) { %>
          <% } %>
      <li><a href='https://carto.com/login' class='border login'>Login</a></li>
    <% } else { %>
      <li>
        <a class='editor dropdown account' href='<%- urls[0] %>'>
          <% if (avatar_url) { %><img src='<%- avatar_url %>' width='18' title='<%- username %>' alt='<%- username %>' /><% } %><%- username %><span class='separator'></span>
        </a>
      </li>
    <% } %>
  </ul>
</div>
