<% content_for :title do %><%= @user.username %><% t('signup.account.enabled') %><% end %>

<div class="Sessions CDB-Text">
  <div class="Sessions-content">
    <div class="Sessions-inner">
      <div class="u-inner">
        <div class="Sessions-center Sessions--centered">
          <div class="Sessions-logoContainer">
            <picture class="Navbar-brand">
              <%= image_tag("layout/carto-logo-darkblue.svg", :alt => "CARTO") %>
            </picture>
          </div>

          <div class="js-info">
            <h1 class="Sessions-title u-tspace-m"><% t('signup.account.active') %></h1>
            <p class="Sessions-description"><% t('signup.account.goto') %><%= link_to "your dashboard", @destination_url %><% t('signup.account.enjoy') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
