<% content_for(:page_title) do %>
  <% t('admin.client_apps.api_key.your_api_keys') %>
<% end %>
<%= content_for(:js) do %>
  <script type="text/javascript">
    var username = "<%= current_user.username %>";
    var config = <%= safe_js_object frontend_config %>;
    var user_data = <%= safe_js_object current_user.data.to_json %>;
    var upgrade_url = "<%= current_user.upgrade_url(request.protocol) %>";
    var mobile_enabled = "<%= current_user.mobile_sdk_enabled? %>";
    var dashboardNotifications = <%= safe_js_object @dashboard_notifications.to_json %>;
    var organization_notifications = <%= safe_js_object @organization_notifications.to_json %>;
  </script>
<% end %>

<%= content_for(:css) do %>
  <% if @has_new_dashboard %>
    <%= stylesheet_link_tag 'api_keys_new', :media => 'all' %>
  <% else %>
    <%= editor_stylesheet_link_tag 'api_keys', :media => 'all' %>
  <% end %>
<% end %>

<%= render :partial => 'shared/flash_message' %>

<div class="FormAccount-Section u-inner">

  <%= render :partial => 'admin/shared/pages_subheader' %>

  <div class="CDB-Text FormAccount-Content">
    <%= render :partial => 'admin/shared/api_keys_subheader' %>

    <% if current_user.engine_enabled? %>
      <% if @has_new_dashboard %>
        <div class="js-api-keys-new"></div>
      <% else %>
        <%= render :partial => 'api_keys_form' %>
      <% end %>
    <% else %>
      <%= render :partial => 'api_keys_cta' %>
    <% end %>

  </div>

</div>

<%= render 'admin/shared/footer' %>

<% if @has_new_dashboard %>
  <%= javascript_include_tag 'common', 'common_vendor', 'api_keys_new' %>
<% else %>
  <%= editor_javascript_include_tag 'cdb.js', 'models.js', 'keys_templates.js', 'keys_deps.js', 'keys.js' -%>
<% end %>
