<% content_for :title do %><%= @organization ? @organization.name : 'User' %><% t('shared.signup.sign') %><% end %>

<% content_for :js do %>
  <%= javascript_include_tag 'common', 'common_vendor', 'confirmation' %>

  <script>
    var userCreationId = "<%= @user_creation_id %>";
    var username = "<%= @user_name %>";
    var customHosted = <%= Cartodb.config[:cartodb_com_hosted].present? %>;
    var userURL = "<%= @redirect_url %>";
  </script>
<% end %>

<div class="CDB-Text <%= @organization.present? ? 'Sessions' : 'Sessions-navy' %>" style="<%= @organization.present? ? background : '' %>">
  <div class="Sessions-content">
    <div class="Sessions-inner">
      <div class="u-inner">
        <div class="Sessions-center Sessions--centered">
          <div class="Sessions-logoContainer">
            <picture class="Navbar-brand">
              <% if @organization.present? %>
                <%= image_tag("layout/carto-logo-darkblue.svg", :alt => "CARTO") %>
              <% else %>
                <%= image_tag("layout/carto-logo.svg", :alt => "CARTO") %>
              <% end %>
            </picture>
          </div>

          <div class="js-info">
            <h1 class="Sessions-title u-tspace-m"><% t('shared.signup.account') %></h1>
            <p class="Sessions-description"><% t('shared.signup.time') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
