<% content_for :title do %><% t('home.app_diag.diag') %><% end %>

<%= content_for(:css) do %>
    <style>
      body {
        padding: 40px;
      }

      h1 {
        font-size: 200%;
      }

      p {
        margin: 30px 0;
      }

      ul, dl {
        margin-left: 20px;
      }

      .component {
        font-size: 110%;
        font-weight: bold;
      }

      .component:after {
        content: ': ';
      }

      .code {
        font-family: courier;
      }

      .status.ok {
        color: green;
      }

      .status.error {
        color: red;
      }

      .status.warning {
        color: orange;
      }

      body dd, body dt {
        display: block;
      }
    </style>
<% end %>

<h1><% t('home.app_diag.diag') %></h1>

<p><% t('home.app_diag.dependencies') %></p>
<p><% t('home.app_diag.problem') %><a href="https://groups.google.com/forum/#!forum/cartodb"><% t('home.app_diag.google') %></a><% t('home.app_diag.include') %></p>

<dl>
  <% @diagnosis.each { |d| %>
      <dt><span class="component"><%= d[0] %></span> <span class="status <%= d[1] %>"><%= d[1] %></span></dt>
      <% if d[2].length > 0 %>
          <dd>
            <ul>
              <% d[2].each { |i| %>
                  <li><%= raw i %></li>
              <% } %>
            </ul>
          </dd>
      <% end %>
  <% } %>
</dl>
