<%- message = "<strong>Error code: #{@error_code}</strong> - #{@error_message.html_safe}" %>

<%= render partial: 'mailer_modules/warning_message', locals: { message: message } %>

<tr>
  <td align="left" style="font-size: 14px; line-height: 25px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #647083;">
    <p><% t('sync.max.automatic') %><strong><%=@dataset_name %></strong><% t('sync.max.maximum') %></p>
    <p><% t('sync.max.continue') %></p>
    <p><% t('sync.max.info') %><a href="https://carto.com/developers/import-api/support/import-errors/" target="_blank" style="color: #1181FB;"><% t('sync.max.click') %></a>.</p>
  </td>
</tr>

<%= render partial: 'mailer_modules/link_to_action', locals: { link: @link, link_text: "View your dataset" } %>
