<div class="FormAccount-title">
  <p class="FormAccount-titleText"><% t('admin.orgs.ldap.config') %></p>
</div>

<div class="FormAccount-row">
  <div class="FormAccount-rowLabel"><label class="FormAccount-label"><% t('admin.orgs.ldap.host') %></label></div>
  <div class="FormAccount-rowData"><%= @ldap_configuration.host %></div>
</div>

<div class="FormAccount-row">
  <div class="FormAccount-rowLabel"><label class="FormAccount-label"><% t('admin.orgs.ldap.port') %></label></div>
  <div class="FormAccount-rowData"><%= @ldap_configuration.port %></div>
</div>

<div class="FormAccount-row">
  <div class="FormAccount-rowLabel"><label class="FormAccount-label"><% t('admin.orgs.ldap.encryption') %></label></div>
  <div class="FormAccount-rowData"><%= @ldap_configuration.encryption %></div>
</div>

<div class="FormAccount-row">
  <div class="FormAccount-rowLabel"><label class="FormAccount-label"><% t('admin.orgs.ldap.certif') %></label></div>
  <div class="FormAccount-rowData"><%= @ldap_configuration.ca_file %></div>
</div>

<div class="FormAccount-row">
  <div class="FormAccount-rowLabel"><label class="FormAccount-label"><% t('admin.orgs.ldap.ssl') %></label></div>
  <div class="FormAccount-rowData"><%= @ldap_configuration.ssl_version %></div>
</div>

<div class="FormAccount-row">
  <div class="FormAccount-rowLabel"><label class="FormAccount-label"><% t('admin.orgs.ldap.conn_user') %></label></div>
  <div class="FormAccount-rowData"><%= @ldap_configuration.connection_user %></div>
</div>

<div class="FormAccount-row">
  <div class="FormAccount-rowLabel"><label class="FormAccount-label"><% t('admin.orgs.ldap.conn_pwd') %></label></div>
  <div class="FormAccount-rowData"><%= @ldap_configuration.connection_password %></div>
</div>

<div class="FormAccount-row">
  <div class="FormAccount-rowLabel"><label class="FormAccount-label"><% t('admin.orgs.ldap.id_fld') %></label></div>
  <div class="FormAccount-rowData"><%= @ldap_configuration.user_id_field %></div>
</div>

<div class="FormAccount-row">
  <div class="FormAccount-rowLabel"><label class="FormAccount-label"><% t('admin.orgs.ldap.name_fld') %></label></div>
  <div class="FormAccount-rowData"><%= @ldap_configuration.username_field %></div>
</div>

<div class="FormAccount-row">
  <div class="FormAccount-rowLabel"><label class="FormAccount-label"><% t('admin.orgs.ldap.eml_fld') %></label></div>
  <div class="FormAccount-rowData"><%= @ldap_configuration.email_field %></div>
</div>

<div class="FormAccount-row">
  <div class="FormAccount-rowLabel"><label class="FormAccount-label"><% t('admin.orgs.ldap.domain') %></label></div>
  <div class="FormAccount-rowData"><%= @ldap_configuration.domain_bases %></div>
</div>

<div class="FormAccount-row">
  <div class="FormAccount-rowLabel"><label class="FormAccount-label"><% t('admin.orgs.ldap.search') %></label></div>
  <div class="FormAccount-rowData"><%= @ldap_configuration.additional_search_filter %></div>
</div>

<div class="FormAccount-row">
  <div class="FormAccount-rowLabel"><label class="FormAccount-label"><% t('admin.orgs.ldap.usr_cls') %></label></div>
  <div class="FormAccount-rowData"><%= @ldap_configuration.user_object_class %></div>
</div>

<div class="FormAccount-row">
  <div class="FormAccount-rowLabel"><label class="FormAccount-label"><% t('admin.orgs.ldap.grp_cls') %></label></div>
  <div class="FormAccount-rowData"><%= @ldap_configuration.group_object_class %></div>
</div>
