<section class="sessions shadow">
  <div class="content">
    <h2>Authorization denied</h2>
    <p class="margin15 light"><% t('oauth.failure.msg1') %><%= @token.client_application.user.username %><% t('oauth.failure.msg2') %></p>
  </div>
  <div class="footer">
    <p class="center light"><%= link_to "Forgot password?",forget_password_url %> · <%= link_to "Create an account", "https://carto.com/signup" %></p>
  </div>
</section>

<footer class="short">
  <h1><%= link_to 'CARTO', CartoDB.path(self, 'root'), :class => "cartodb" %></h1>
</footer>
