<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td bgcolor="#f9f9f9" align="center">
      <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center" style="max-width: 620px; width: 100% !important;">
        <tr>
          <td style="padding: 64px 15px 64px 15px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td align="left" valign="middle" style="font-size: 13px; line-height: 20px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #979EA1;">
                  <% t('mailer.footer.msg') %>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
