<div class="MobilePlan">
  <div class="MobilePlan-items">
    <div class="MobilePlan-icon LayoutIcon LayoutIcon--lightGreen"><i class="CDB-IconFont CDB-IconFont-dollar"></i></div>

    <div class="MobilePlan-info">
      <div class="MobilePlan-title--lightGreen"><%= plan_name(current_user.account_type).capitalize %></div>

      <div class="MobilePlan-subtitle"><%= 'Xamarin features enabled. ' if current_user.mobile_xamarin %><%= 'Custom watermark. ' if current_user.mobile_custom_watermark %><%= 'Offline maps. ' if current_user.mobile_offline_maps %><%= 'GIS extension.' if current_user.mobile_gis_extension %></div>
    </div>
  </div>

  <a href="<%= current_user.upgrade_url(request.protocol) %>" class="CDB-Text CDB-Size-small is-semibold CDB-Button CDB-Button--secondary u-upperCase"><% t('carto.admin.mobile.mobile.expand') %></a>
</div>

<div class="ProgressBars">
  <%- max_open_users = current_user.mobile_max_open_users %>
  <%- max_private_users = current_user.mobile_max_private_users %>

  <%- if max_open_users > 0 %>
    <%- open_users_bar_width = (@open_monthly_users*100)/max_open_users %>
    <div class="ProgressBar-container">
      <div class="ProgressBar">
        <span class="ProgressBar-bar <%= progress_bar_range(open_users_bar_width) %>" style="width:<%= open_users_bar_width %>%"></span>
      </div>
      <div class="ProgressBar-legend"><%= number_with_delimiter(@open_monthly_users, delimiter: ",") %>/<%= number_with_delimiter(max_open_users, delimiter: ",") %><% t('carto.admin.mobile.mobile.open') %></div>
    </div>
  <% end %>

  <%- if max_private_users > 0 %>
    <%- private_users_bar_width = (@private_monthly_users*100)/max_private_users %>
    <div class="ProgressBar-container">
      <div class="ProgressBar">
        <span class="ProgressBar-bar <%= progress_bar_range(private_users_bar_width) %>" style="width:<%= private_users_bar_width %>%"></span>
      </div>
      <div class="ProgressBar-legend"><%= number_with_delimiter(@private_monthly_users, delimiter: ",") %>/<%= number_with_delimiter(max_private_users, delimiter: ",") %><% t('carto.admin.mobile.mobile.private') %></div>
    </div>
  <% end %>
</div>
