<%- if Cartodb::Central.sync_data_with_cartodb_central? && current_user.mobile_sdk_enabled? %>

    <div class="Filters is-relative js-org-subheader">
    <div class="Filters-inner">
      <span class="Filters-separator"></span>
      <div class="Filters-row">
        <ul class="Filters-group">
          <li class="Filters-typeItem">
            <a href="<%= CartoDB.url(self, 'api_key_credentials', {}, current_user) %>" class=" CDB-Text CDB-Size-medium Filters-typeLink <%= 'is-selected' if "#{params[:controller]}_#{params[:action]}" == "admin/client_applications_api_key" %>">
              CARTONICO
            </a>
          </li>
          <li class="Filters-typeItem">
            <a href="<%= CartoDB.url(self, 'mobile_apps', {}, current_user) %>" class="CDB-Text CDB-Size-medium Filters-typeLink <%= 'is-selected' if "#{params[:controller]}" == "carto/admin/mobile_apps" %>">
              App Mobile
            </a>
          </li>
        </ul>

        <% if "#{params[:controller]}_#{params[:action]}" == "carto/admin/mobile_apps_index" %>
          <ul class="Filters-group">
            <a href="<%= CartoDB.url(self, 'new_mobile_app', {}, current_user) %>" class="CDB-Button CDB-Button--primary">
              <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase"><% t('admin.shared.api_keys.new_app') %></span>
            </a>
          </ul>
        <% end %>
      </div>
    </div>
  </div>

<% else %>

  <div class="FormAccount-title">
    <p class="FormAccount-titleText"><% t('admin.shared.api_keys.private') %></p>
    <span class="Filters-separator"></span>
  </div>

<% end %>
