<div class="Filters is-relative js-org-subheader">
  <div class="Filters-inner">
    <span class="Filters-separator"></span>
    <div class="Filters-row">
      <ul class="Filters-group CDB-Text CDB-Size-medium">
        <% if current_user.organization_owner? %>
          <li class="Filters-typeItem">
            <a href="<%= current_user_url('organization_settings') %>" class="Filters-typeLink <%= 'is-selected' if "#{params[:controller]}_#{params[:action]}" == "admin/organizations_settings" %>">
              <% t('admin.shared.org_subhead.profile') %>
            </a>
          </li>
          <li class="Filters-typeItem">
            <a href="<%= current_user_url('organization_auth') %>" class="Filters-typeLink <%= 'is-selected' if "#{params[:controller]}_#{params[:action]}" == "admin/organizations_auth" %>">
              <% t('admin.shared.org_subhead.settings') %>
            </a>
          </li>
        <% end %>
        <li class="Filters-typeItem">
          <a href="<%= current_user_url('organization_users') %>" class="Filters-typeLink <%= 'is-selected' if "#{params[:controller]}_#{params[:action]}" == "admin/organizations_show" %>">
            <%= current_user.organization.users.count %>/<%= current_user.organization.total_seats %><% t('admin.shared.org_subhead.users') %>
          </a>
        </li>
        <li class="Filters-typeItem">
          <a href="<%= current_user_url('organization_groups') %>" class="Filters-typeLink <%= 'is-selected' if "#{params[:controller]}_#{params[:action]}" == "admin/organizations_groups" %>">
            <% t('admin.shared.org_subhead.groups') %>
          </a>
        </li>
        <li class="Filters-typeItem">
          <a href="<%= current_user_url('organization_notifications_admin') %>" class="Filters-typeLink <%= 'is-selected' if "#{params[:controller]}_#{params[:action]}" == "admin/organizations_notifications" || "#{params[:controller]}_#{params[:action]}" == "admin/organizations_new_notification" %>">
            <% t('admin.shared.org_subhead.notif') %>
          </a>
        </li>
        <% if show_billing  %>
          <li class="Filters-typeItem">
            <a href="<%= current_user.plan_url(request.protocol) %>" class="Filters-typeLink"><% t('admin.shared.org_subhead.billing') %></a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
