<header class="vis">
  <div class="inner">
    
    <div class="header_content">

      <div class="vis_navigation">
        <nav>
          <%= link_to "Data view", "#/table", :class => "smaller strong tab selected" %>
          <%= link_to "Map view",  "#/map",   :class => "smaller strong tab" %>
        </nav>
      </div>

      <div class="left">
        <ul class="actions">
          <li><%= link_to "Back", CartoDB.path(self, 'root'), :class => "back" %></li>
          <li><a class="privacy" href="#/visualize"><i class="privacy-status"></i></a></li>
          <li><h1><%= link_to @visualization.name, "#/change-title", :class => "title" %></h1></li>
        </ul>
        <div class="metadata">
          <p><a href="#/edit-metadata"><% t('admin.shared.vis_head.edit') %></a></p>
        </div>
      </div>
      
      <div class="right">
        <ul class="options">
          <li><%= link_to "Edit", "#/options", :class => "dropdown options" %></li>
          <li><a class="rounded share" href="#/visualize"><span><% t('admin.shared.vis_head.visual') %></span></a></li>
        </ul>
      </div>
    </div>

    <div class="sync_status"></div>
    <div class="globalerror"></div>
  </div>
</header>

