<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><% t('carto.builder.public.embeds.protected.map') %></title>
    <%= editor_stylesheet_link_tag 'password_protected.css' %>
  </head>

  <body class='PublicPage-body PublicPage-background--navyBlue'>
    <div class='PublicPage-centerContainer'>
      <div class='PublicPage-container'>

        <div class='PublicPage-header'>
          <a href="<%= cartodb_com_hosted? ? CartoDB.url(self, 'root') : "https://carto.com" %>">
            <img src="<%= image_path "layout/carto-logo.svg" %>" alt="CARTONICO">
          </a>
        </div>

        <p class='CDB-Text CDB-Size-large is-light u-whiteTextColor u-bSpace--xl'><% t('carto.builder.public.embeds.protected.passwd') %></p>

        <div class='PublicPage-form'>
          <%= form_tag "embed_protected?#{request.query_string}", method: :post do %>

            <div class='PublicPage-field-withTooltip'>
              <%= password_field_tag 'password', params[:password], class: "PublicPage-form--inputText RoundBorders-all CDB-Text CDB-Size-medium is-light u-whiteTextColor #{ flash[:error].present? ? 'is-alert' : ''}", placeholder: 'Inserisci la password'%>

              <%- if flash[:error].present? %>
                <div class="PublicPage-inputTooltip CDB-InfoTooltip CDB-InfoTooltip--left u-lSpace--xl is-error">
                  <p class='CDB-Text CDB-Size-medium CDB-InfoTooltip-text'><%= flash[:error] %></p>
                </div>
              <% end %>
            </div>

          <% end %>
        </div>

        <p class='CDB-Text CDB-Size-medium is-light u-hintTextColor u-tSpace-xl'><% t('carto.builder.public.embeds.protected.contact') %></p>
      </div>
    </div>
  </body>
</html>
