<% require_dependency 'static_maps_url_helper' %>

<%= content_for(:title) do %><%= @vizjson[:title].nil? ? t('carto.builder.public.embeds.show.untitled') : @vizjson[:title] %><% end %>

<%= content_for(:description) do %><%= @vizjson[:description] ? "#{@vizjson[:description].strip_tags}. " : "" %><% t('carto.builder.public.embeds.show.created') %><%= @vizjson[:user][:fullname] %><% t('carto.builder.public.embeds.show.in_carto') %><% end %>

<%= content_for(:twitter_card) do %><%= Carto::StaticMapsURLHelper.new.url_for_static_map(request, @visualization, 560, 300) %><% end %>

<%= content_for(:facebook_card) do %><%= Carto::StaticMapsURLHelper.new.url_for_static_map(request, @visualization, 1200, 630) %><% end %>

<%= content_for(:css) do %>
  <%= stylesheet_link_tag 'builder_embed', 'deep_insights_new', media: 'all' %>
  <style type="text/css">
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      position: relative;
    }
  </style>
<% end %>

<%= content_for(:content) do %>
  <div id="dashboard"></div>
<% end %>

<%= content_for(:js) do %>
  <%= insert_trackjs('builder-embeds') %>

  <% if @vizjson[:map_provider] == 'googlemaps' && @google_maps_qs.present? %>
    <%= insert_google_maps(@google_maps_qs) %>
  <% end %>

  <script>
    var vizJSON = <%= safe_js_object @vizjson.to_hash.to_json %>;
    var layersData = <%= safe_js_object @layers_data.to_json %>;
    var stateJSON = <%= safe_js_object @state.to_json %>;
    var authTokens = <%= safe_js_object @auth_tokens.to_json %>;
    var baseURL = '<%= @viz_owner_base_url %>';
    var mapzenApiKey = '<%= mapzen_api_key %>';
    var mapboxApiKey = '<%= mapbox_api_key %>';
  </script>
  <%= javascript_include_tag 'common', 'common_vendor', 'builder_embed' %>

  <% if Cartodb.get_config(:graphite_public, 'host') %>
    <%= editor_javascript_include_tag "statsc.js" %>
  <% end %>
  <script>
    (function () {
      <% if Cartodb.get_config(:graphite_public, 'host') %>
        if (location.protocol.indexOf('https') === -1) {
          statsc.connect('http://<%= Cartodb.get_config(:graphite_public, 'host') %>:<%= Cartodb.get_config(:graphite_public, 'port') %>/');
          cartodb.core.Profiler.backend(function () {
            statsc.send.apply(statsc, arguments);
          });
        }
      <% end %>
    }());
  </script>

  <%= insert_google_analytics('embeds', true) %>
<% end %>
