<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title><%= yield :title %><% t('layouts.app_passwd.title') %></title>
    <%= favicon_link_tag "favicons/favicon.ico" %>
    <%= editor_stylesheet_link_tag 'password_protected.css' %>
    <%= insert_google_tag_manager('embeds') %>
  </head>

  <body class='PublicPage-body PublicPage-background--navyBlue'>
    <%= insert_google_tag_manager_no_script('embeds') %>
    <div class='PublicPage-centerContainer'>
      <div class='PublicPage-container'>

        <div class='PublicPage-header'>
          <a href="<%= cartodb_com_hosted? ? CartoDB.url(self, 'root') : "https://carto.com" %>">
            <img src="<%= image_path "layout/carto-logo.svg" %>" alt="CARTONICO">
          </a>
        </div>

        <p class='CDB-Text CDB-Size-large is-light u-whiteTextColor u-bSpace--xl'><%= yield :header_title %></p>

        <div class='PublicPage-form'>
          <%= yield :password_form %>
        </div>

        <p class='CDB-Text CDB-Size-medium is-light u-hintTextColor u-tSpace-xl'><% t('layouts.app_passwd.contact') %></p>
      </div>
    </div>

    <%= insert_trackjs('embeds') %>
    <%= insert_google_analytics('embeds', true) %>
    <%= insert_hubspot() %>
  </body>
</html>
