<%= content_for(:title) do %>
  <% t('admin.visual.public_pwd.protected') %>
<% end %>

<%= content_for(:header_title) do %>
  <% t('admin.visual.public_pwd.passwd') %>
<% end %>

<%= content_for(:password_form) do %>
  <%= form_tag(CartoDB.url(self, 'protected_public_map', {:protocol => Rails.env.development? ? 'http' : 'https'}) + '?' + request.query_string, {:method=>'POST',:authenticity_token=>false}) do %>

    <div class='PublicPage-field-withTooltip'>
      <%= password_field_tag 'password', params[:password], class: "PublicPage-form--inputText RoundBorders-all CDB-Text CDB-Size-medium is-light u-whiteTextColor #{ flash[:error].present? ? 'is-alert' : ''}", placeholder: 'Insert your password'%>

      <%- if flash[:error].present? %>
        <div class="PublicPage-inputTooltip CDB-InfoTooltip CDB-InfoTooltip--left u-lSpace--xl is-error">
          <p class='CDB-Text CDB-Size-medium CDB-InfoTooltip-text'><%= flash[:error] %></p>
        </div>
      <% end %>
    </div>

  <% end %>
<% end %>

<%= content_for(:ua) do %>
  primary
<% end %>
